<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart and Order Summary</title>
</head>
<body>
<div class="container">
    <div class="cart">
        <table>
            <thead>
            <tr>
                <th>Product No.</th>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of selectedItems">
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td><img src="{{item.image}}" alt="image"></td>
                <td>${{ item.price }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="order-summary">
        <h2>Order Summary</h2>
        <div>
            <p>Product Total: <span class="price">$30.00</span></p>
        </div>
        <div>
            <p>Delivery Charge: <span class="price"> $5.00</span></p>
        </div>
        <hr>
        <div>
            <p class="total">Total: <span class="price">$35.00</span></p>
        </div>
        <button class="confirm" (click)="confirmOrder()">Confirm Order</button>
    </div>
</div>
</body>
</html>
