<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <title>Document</title>
</head>
<body>
<div class="arrow" (click)="navigate()">
    <p><i class="fa-solid fa-arrow-left-long fa-sm" style="color: #000000; margin-right: 5px;"></i><span class="back">back</span></p>
</div>
<div class="prod">
    <div class="image">
        <img src="{{product.image}}" alt="{{ product.title }}" class="prodimage">
    </div>
    <div class="details">
        <h1>{{ product.title | titlecase }}</h1>
        <p>{{product.description}}</p>
        <p class="price">${{ product.price }}</p>
        <div class="quantity">
            <button class="quantity-btn" (click)="decreaseQuantity()">
                <i class="fa-solid fa-minus"></i>
            </button>
            <input id="quantity" name="quantity" value="1" readonly [(ngModel)]="quantity">
            <button class="quantity-btn" (click)="increaseQuantity()">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <p *ngIf="message" class="quantity-message">{{ message }}</p>
        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i> {{ product.rating.rate }} ({{ product.rating.count }})</p>
        <div class="btn">
            <div class="cart">
                <button (click)="addtocart(product, $event)">Add to Cart</button>
            </div>
            <div class="checkout">
                <button (click)="buyNow(product)">Buy Now</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>